<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Controle de Vacinação</title>
</head>
<body>
	<h1>Controle de Vacinação</h1>
	
	<p th:text="${pessoa.nome}"></p>
	<p th:text="${pessoa.cpf}"></p>
	<p th:text="${{pessoa.dataNascimento}}"></p>
	<p th:text="${pessoa.profissao.nome}"></p>
	
	<form th:action="@{/aplicacoes/escolherlote}" method="post">
		<input type="hidden" name="codigo" th:value="${pessoa.codigo}">
		<input type="hidden" name="nome" th:value="${pessoa.nome}">
		<input type="hidden" name="cpf" th:value="${pessoa.cpf}">
		<input type="hidden" name="dataNascimento" th:value="${{pessoa.dataNascimento}}">
		<input type="hidden" name="profissao.codigo" th:value="${pessoa.profissao.codigo}">
		<input type="hidden" name="profissao.nome" th:value="${pessoa.profissao.nome}">
		<label for="vacina">Vacina:</label>
		<select id="vacina" name="codigoVacina">
			<option th:each="v : ${vacinas}" 
			th:value="${v.codigo}" 
			th:text="${v.nome}"></option>
		</select>
		<input type="submit" value="Continuar">
	</form>
	
</body>
</html>